$dot-size: 12px;
$handle-size: 20px;
$range-color: #327ccb;
$track-color: lightgray;

.react-drs {
  padding: 0 20px;
  font-family: sans-serif;

  &_slider {
    height: 24px;
    position: relative;
  }

  &_track,
  &_active-track {
    height: 4px;
    position: relative;
  }

  &_track {
    background: $track-color;
    top: 10px;
  }

  &_active-track {
    background: $range-color;
    top: 6px;
  }

  &_handle {
    position: absolute;
    height: $handle-size;
    width: $handle-size;
    border: 3px $range-color solid;
    background: $range-color;
    border-radius: $handle-size;
    top: 2px;
    left: calc(-#{$handle-size}/2);
    cursor: -webkit-grab;
    cursor: grab;
  }

  &_dot {
    position: absolute;
    height: $dot-size;
    width: $dot-size;
    border: 3px $track-color solid;
    border-radius: $dot-size;
    top: 6px;
    background: $track-color;
  }

  &_right-dot {
    right: calc(-#{$dot-size}/2);
  }

  &_left-dot {
    left: calc(-#{$dot-size}/2);
  }

  &_values,
  &_range {
    height: 18px;
  }

  &_range_left {
    float: left;
    transform: translateX(-50%);
  }

  &_range_right {
    float: right;
    transform: translateX(50%);
  }

  &_values {
    position: relative;
  }

  &_values_left,
  &_values_right {
    position: absolute;
    transform: translateX(-50%);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
